*, *:before, *:after {
  box-sizing: border-box;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-size: cover;
  background-color: #333333;
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  background: none no-repeat right 10px;
  border-bottom: 10px;
  box-shadow: 3px 10px 10px black;
  h1 {
    display: inline-block;
    padding: 0 20px;
  }
  a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    &.active,
    &:hover {
      background-color: #333333;
    }
  }
}

section {
  padding: 20px;
  background-size: cover;
  background-color: #333333;
  color: white;
  background-image: url("../../../images/BlueBlurClouds2.jpg");

  h4 {
    color: white;
    padding: 10px;
    font: Impact;
  }
  a {
    color: white;
  }
}

ul.vertGrp
{
  display: table;
  table-layout: inherit;
  width: 70px;
  height: 82%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 40px;
}

li.tableYaxisLabels
{
  text-align: center;
  display: table-row;
}
i.wi
{
  display: table-cell;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.nopad {
  padding: 0px;
}
.logo {
  width: 12%;
  padding: 0px;
  margin: 0px;
}
.tableYaxisLabels {
  width: 90px;
  //padding-top: 16px;
}
.top-pad5 {
  margin-top: 5%;
}
.RainColor {
  stroke: lightblue;
  color: lightblue;
}
.HailColor {
  stroke: white;
  color: white;
}
.T-StormsColor {
  stroke: orange;
  color: orange;
}
.FiresColor {
  stroke: red ;
  color: red ;

}
.DroughtColor {
  stroke: #ff30f5;
  color: #ff30f5;
}
.WindColor {
  stroke: lightpurple;
  color: lightpurple;

}
.logoSize {
  width: 20%;
  margin-top: -15px;
  margin-bottom: -15px;
  margin-left: 35px;
}

.mainAppRow {
  width: 100%;
  margin-left: 60px;
}

#imagesTable {
  width: 100%;
  float: left;
}
.tableCenter{
  margin: 0 auto;
  background-color: rgba(255,255,255,0.3);
  text-align: left;
}

#mainImageObject {
  text-align: center;
  height: 53vh;
}

.weatherRow {
  border-color: red;
  border-style: solid;
  border-width: 0.5px;
}

#addItemDiv {
  height: 85vh;
  text-align: center;
}

#addItemDiv:hover {
  background-color: darkgrey;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#closeButton {
  opacity: 0.1;
}

#closeButton:hover {
  opacity: 1;
}

.image-style {
  box-shadow: 3px 3px 10px black;
}
.box-style {
  box-shadow: 3px 3px 7px black;
  margin: 20px 10px !important;
  background-color: rgba(0,0,0,0.2);
}
.tableHead {
  background-color: rgba(0,0,0,0.5);
  border-color: darkgray !important;
  border-style: none !important;
}
.tableBody {
  padding-left: 15px !important;
  margin-left: 15px !important;
  border-style: none !important;
}
.icon-stl {
  margin: 0px 0px 0px 8px;
  color: white;
  font-size: 16px;
}
.srch-row {
  font-width: bold;
  text-align: left;
  padding-left: 8%;
}
.srch-hdr {
  text-align: middle;
  font-width: bold !important;
}
.chart-stl {
  box-shadow: 3px 3px 7px black;
  margin: 20px 10px !important;
  background-color: rgba(0,0,0,0.4);
  padding-left: -15px !important;
}
.btn-stl {
  border-radius: 0px;
  border-style: none;
}
.chart-label {
  position: relative;
  font-size: 12px;
  text-align: right;
  width: 28px;
}

.margin-10 {
  padding-left: -80px !important;
}
.recharts-cartesian-axis-tick {
  color: white;
  font-size: 12px;
}

#floatIcon {
  position: absolute;
  top: 0px !important;
  left: 0px !important;
}

.dropdown-menu {
  width: 190px;
  color: black;
}

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}
